* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-dark-blue);
  color: var(--color-sky);
  font-family: var(--font-family);
}

:root {
  --color-dark-blue: #0b1321;
  --color-white: white;
  --color-light-blue: #152834;
  --color-light-sky: #0b2b2e;
  --color-sky: #8cefe9;
  --color-black: #020202;
  --color-gray: #7b8595;
  --color-purple: #7d3ea4;
  --color-purple2: #9e55b8;
  --color-green: #55b870;
  --color-red: #c33030;
  --color-dark-blue2: #5594b8;
  --color-pink: #b85567;
  --color-yellow: #aab855;
  --color-brown: #b89055;
  --color-orange: #db9731;
  --color-sky2: #30a3c7;
  --color-gray2: #cbbba3;
  --color-dark-purple: #3b0b46;
  --color-dark-green: #33a021;
  --color-dark-sky: #124e53;
  --font-family: "JetBrains Mono", monospace;
}
/*Welcome view*/

/* ----------------------------------------Welcome-----------------------------------------------------*/
#welcoming {
  background-color: var(--color-dark-blue);
  /* border: solid 1px white; */
  display: flex;
  height: 100vh;
  flex-direction: row;
  justify-content: space-between;
}

#welcoming .image {
  position: relative;

  /* height: 100%; */
}

/* .image{
  height: auto ;
} */

.image img {
  width: 100vh;
  height: auto;
  object-fit: cover;
  position: relative;
  z-index: 2;
  margin-left: 20px;
}

.image .polygon {
  background-color: var(--color-light-sky);
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 50% 0, 100% 100%, 0% 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#welcoming .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text h1 {
  font-weight: bolder;
  font-size: 3.5rem;
  text-align: center;
  padding: 5px;
}

.text p {
  color: var(--color-gray2);
  padding: 10px;
  margin-bottom: 60px;
}

#close-welcoming {
  background: none;
  border-radius: 20px;
  border: 4px solid var(--color-white);
  color: var(--color-white);
  width: 185px;
  height: auto;
  text-align: center;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  padding: 15px 20px;
  /*animacion*/
  transition: 1.2s;
  position: relative;
  overflow: hidden;
}

#close-welcoming:hover {
  color: var(--color-white); /*opcion1*/
  /*color: var(--color-dark-blue); opcion2*/
  /* border: none; */
  z-index: 1;
}

#close-welcoming::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #0c575e; /*opcion1*/
  /*background: var(--color-sky2);opcion2*/
  z-index: -1;
  transition: 1.2s;
  bottom: 0;
  border-radius: 50% 50% 0 0;
}

#close-welcoming:hover::before {
  height: 180%;
}

.text .footer {
  color: var(--color-sky);
  /* border: solid 1px white; */
  margin-top: 200px;
  margin-bottom: 0px;
}

@media (max-width: 768px) {
  #welcoming {
    flex-direction: column;
  }

  #welcoming .text {
    order: 2;
  }

  #welcoming .image {
    order: 1;
  }

  .image img {
    z-index: 2;
  }
  .image .polygon {
    background-color: var(--color-light-sky);

    z-index: 1;
  }
}

/* --------------------------------------- Home ------------------------------------------------------*/

.newContainer {
  width: 100%;
  position: relative;
}

/* Header */
header {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}

header img {
  width: 50px;
}

/* Filters */
#formFilters {
  background-color: var(--color-light-sky);
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
}

section > img {
  width: 50px;
  margin-right: -60px;
  margin-bottom: -18px;
}
input[type="text"] {
  border: 4px solid var(--color-white);
  background-color: transparent;
  background-color: none;
  border-radius: 40px;
  width: 300px;
  height: 60px;
  padding: 20px 20px 20px 70px;
  color: var(--color-gray);
  font-size: 1.5rem;
}
input[type="text"]:focus {
  outline: none;
}

::placeholder {
  font-size: 1.5rem;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 40px;
}

label[for="type"],
label[for="name"] {
  font-size: 1rem;
  font-weight: bolder;
  margin-top: 10px;
}

select {
  background-color: transparent;
  border-radius: 20px;
  border: 4px solid var(--color-white);
  color: var(--color-gray);
  width: 100px;
  padding: 10px;
}

button[type="reset"] {
  background-color: var(--color-sky);
  border: none;
  border-radius: 20px;
  padding: 15px;
  color: #0d091e;
  font-weight: bold;
  width: 1000px;
  height: 60px;
  font-size: 1.5rem;
  cursor: pointer;
}
button[type="reset"]:hover {
  background-color: #68d2d4;
}

/* modal Product not found - container */
.container-modal {
  width: 400px;
  height: 300px;
  position: fixed;
  z-index: 10;
  background-color: var(--color-light-sky);
  border-radius: 20px;
  top: 400px;
  left: 550px;
}
.container-modal > p {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.container-modal > img {
  width: 200px;
  height: 200px;
  margin-left: 80px;
  margin-top: 20px;
}
.container-modal > .fa-xmark {
  position: relative;
  bottom: 180px;
  left: 10px;
  cursor: pointer;
}
.container-active {
  display: block;
}

/* Cards*/

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-around;
}

li[itemtype="pokemons"] {
  background-color: var(--color-light-blue);
  width: 363px;
  height: 510px;
  border-radius: 0 60px 0 60px;
  list-style: none;
}

div,
.name,
h3 {
  display: flex;
  justify-content: center;
  margin: 0;
}
.type {
  display: flex;
  justify-content: start;
  border-radius: 0 60px 0 0;
  width: 363px;
  height: 174px;
}

.type > img {
  width: 40px;
  height: 40px;
  margin-top: 3px;
  margin-left: 2px;
}
div[itemprop="image"] {
  margin-top: -200px;
}
div[itemprop="image"] > img {
  width: auto;
  height: 350px;
  margin-top: 30px;
  margin-left: 1px;
}
div[itemprop="image"] > img:hover {
  transform: scale(1) translate(15px);
  filter: drop-shadow(-30px 2px 10px rgba(0, 0, 0, 0.7));
  cursor: pointer;
}

.name {
  font-weight: bolder;
  font-size: 2rem;
  text-align: center;
  margin-top: -10px;
}

h3 {
  font-weight: bold;
  margin-left: -200px;
  margin-top: 20px;
}
.weaknesses {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 50px;
  margin-top: 10px;
}
.weaknesses > img {
  width: 40px;
}
/*GrupalChat button*/
#myBtnChat {
  position: fixed;
  right: 30px;
  bottom: 20px;
  background-color: #217B84;
  /* border: solid 3px var(--color-sky); */
  padding: 15px;
  border-radius: 50px;
  z-index: 13;
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#myBtnChat > #chatgrup {
  color: white;
}
#myBtnChat:hover {
  background-color: #152834;
}

/*---------------------------------------------*/
/* Footer */
footer p {
  margin-top: 60px;
  text-align: center;
}

/* Modal stadistic*/
#myBtn {
  border: 4px solid var(--color-white);
  margin: 0;
  border-radius: 15px;
  padding: 8px;
  cursor: pointer;
}
#myBtn > i {
  color: var(--color-white);
}
.modal-content {
  display: none;
  position: fixed;
  left: 350px;
  top: 200px;
  background-color: var(--color-light-sky);
  width: 50%;
  height: 65%;
  border-radius: 40px;
  padding: 20px;
  z-index: 10;
}
.modal-content > h2 {
  text-align: center;
}
.modal-content > i {
  cursor: pointer;
}
.modal-active {
  display: block;
}
.modal-close {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.769);
  display: none;
  z-index: 10;
}

.overlay-active {
  display: block;
}

/* Responsive */
@media (max-width: 1213px) {
  .modal-content {
    height: 55%;
  }
  .container-modal {
    left: 380px;
  }
}

@media (max-width: 992px) {
  button[type="reset"] {
    width: 500px;
  }
  .modal-content {
    left: 250px;
    height: 45%;
  }
  .container-modal {
    left: 280px;
  }
}

@media (max-width: 768px) {
  form {
    justify-content: center;
    height: 350px;
  }
  .filters {
    margin-top: 10px;
    justify-content: center;
  }
  #myBtn {
    margin-top: 10px;
    justify-content: center;
  }
  button[type="reset"] {
    margin-top: 10px;
  }
  .modal-content {
    left: 200px;
    height: 40%;
  }
  .container-modal {
    left: 180px;
  }
}

@media (max-width: 480px) {
  form {
    justify-content: center;
  }
  .filters {
    margin-top: 10px;
    justify-content: center;
  }
  #myBtn {
    margin-top: 10px;
    justify-content: center;
  }
  button[type="reset"] {
    margin-top: 10px;
    width: 250px;
  }
  .modal-content {
    left: 74px;
    height: 39%;
    width: 70%;
  }
  .container-modal {
    left: 30px;
  }
}
/* --------------------------------------- panel grupal--------------------------------------------*/

#grupal-chat {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 100%;
}
#iconschat {
  display: flex;
  justify-content: space-between;
  /* border: white solid 2px; */
  align-items: center;
  padding: 0px 18px 0px 18px;
  margin-top: 18px;
}
.chatIcon {
  background-color: var(--color-dark-sky);
  border-radius: 50px;
  padding: 40px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}
#individual-chat{
  width: 95%;
  height: 65%;
  /* border: 2px solid green; */
  overflow-y: scroll;
  padding: 10px;
  scrollbar-width: none;
}

#individual-chat::-webkit-scrollbar{
  width: 7px;
  background: none;
  border: none;
  border-radius: 20px;
}
#individual-chat::-webkit-scrollbar-thumb {
  background: var(--color-light-blue);
  border-radius: 20px;
}
#chats{
  /* border: 2px solid green; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  /* width: 100%;
  margin: 0; */
  /* display: flex; */
  /* flex-direction: column; */
  /* padding: 20px;
  width: 100%; */
  /* border: white solid 2px; */
  /* margin-top: 150px; */
  /* justify-self: flex-end; */
}

#userC {
  display: flex;
  /* border: white solid 2px; */
  justify-content: flex-end;
  align-items: center;
}

#userImage {
  background-color: var(--color-dark-sky);
  border-radius: 50px;
  padding: 10px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}
#answerChatU {
  background-color: var(--color-light-sky);
  width: 300px;
  padding: 10px;
  align-self: flex-end;
  text-align: right;
  margin-top: 5px;
  border-radius: 10px;
}
#pokemonC {
  display: flex;
  /* border: white solid 2px; */
  justify-content: flex-start;
  align-items: center;
}
#pokemonName {
  margin-left: 15px;
  margin-right: 15px;
}

#pokemonImage {
  background-color: var(--color-dark-sky);
  border-radius: 50px;
  padding: 10px;
  width: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

#pokemonImage > img {
  height: auto;
  width: 40px;
  overflow: hidden;
}
.answerChatP {
  margin-top: 5px;
  background-color: var(--color-light-blue);
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

/*#inputChat {
  position: absolute;
  bottom: 15px;
  justify-self: flex-end;
  align-items: center;
  width: 100%;
  display: flex;
  padding: 0 18px;
}*/
#inputGrupal {
  width: 100%;
  padding: 0 25px;
}

#inputGrupal::placeholder {
  text-align: left;
  font-size: 1.2rem;
}

#sendButton {
  position: absolute;
  right: 35px;
  padding: 10px;
  background-color: transparent;
  border: none;
}

/* --------------------------------------- details ------------------------------------------------------*/

.infoPokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* border: solid 2px red; */
  margin: 0;
}
.infoPokemon .poligon {
  clip-path: polygon(100% 48%, 0 0, 0 100%);
  height: 745px;
  background-color: var(--color-sky);
  width: 450px;
  z-index: 1;
  /* border: solid 6px green;
  margin:0; */
}
.containerLeft {
  z-index: 2;
  width: 50%;
  /* border: solid 6px green; */
  margin-left: -450px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -70px; */
  flex-direction: column;
}
.containerLeft > img {
  width: 650px;
  height: 650px;
  margin-right: -30px;
  /* margin-top: 50px; */
  z-index: 1;
  /* border: solid 6px green; */
  overflow: hidden;
  /* margin-left: -600px;
  margin-top: -70px; */
}
.chatPersonal {
  width: 58px;
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 130px;
  left: 545px;
  cursor: pointer;
  background-color: #217B84;
  border-radius: 50%;
  z-index: 2;
  margin: 0;
}

.chatPersonal > .fa-comment {
  padding: 15px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.titleChat {
  margin-top: -2px;
  color: var(--color-white);
  font-weight: bold;
  font-size: 0.8rem;
}

.baseStats {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  /* margin: 0; */
  /* border: solid 2px green; */
}
.baseStats > .fa-chart-simple {
  background-color: #217B84;
  border-radius: 50%;
  padding: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.recoilArrow {
  display: flex;
  justify-content: flex-end;
}

.recoilArrow > .fa-arrow-left {
  background-color: var(--color-sky);
  color: black;
  border-radius: 50%;
  padding: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.recoilArrow > .fa-arrow-left:hover {
  background-color: #68d2d4;
}

/* statistics modal of each pokemon  */
.modalBase {
  background-color: var(--color-light-sky);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  z-index: 20;
  padding: 10px;
  width: 600px;
}
.closeEstadistic {
  width: 100%;
  /* border: 2px solid white; */
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
/* ----------------------------------- */

.containerRight {
  width: 50%;
  /* overflow: auto; */
  /* border: solid 2px white; */
  padding: 16px;
  margin: 0;
}
.containerRight > h1 {
  text-align: center;
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 10px;
}
.containerRight > p {
  /* width: 89%; */
  text-align: justify;
}

.table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
table {
  width: 35%;
  margin: 25px;
}
td,
th {
  padding: 15px;
}
td {
  color: var(--color-white);
}
.altura {
  border-color: var(--color-white);
  border-top: 0;
  border-left: 0;
  /* border-bottom: 0; */
  /* border-right: 2px; */
  border-style: solid;
}
.peso {
  border-color: var(--color-white);
  border-top: 0;
  border-left: 0;
  border-bottom: 0;
  border-style: solid;
}
.datoP {
  border-color: var(--color-white);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-style: solid;
}

.debilidadesDetails {
  background-color: var(--color-dark-sky);
  border-radius: 30px;
  /* 115px */
  height: 100px;
  padding: 10px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:2px solid green;
  align-items: center;
  /* width: 90%; */
  /* gap: 50px; */
  /* margin: 0; */
}
.debilidadesDetails > h3 {
  color: var(--color-white);
  /* margin-left: -50px; */
  margin: 0;
}
.debilidadesImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 70px;
  /* margin-left: 200px; */
  height: 70px;
  overflow: hidden;
}
.debilidadesImages > img {
  width: 50px;
  height: 50px;
  /* margin: 0; */
}
.evolution {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  gap: 15px;
}
.evolution > h3 {
  width: 95%;
  justify-content: flex-start;
  margin: 0;
}
.evolutionImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  /* border: 2px solid green; */
  width: 100%;
  margin:0;
}
.evolutionImage > .borderEvolution {
  border: 2px solid var(--color-white);
  border-radius: 50%;
  width: 135px;
  height: 135px;
  overflow: hidden;
}
.borderEvolution > img {
  margin: 0;
  padding: 15px;
  width: 100%;
  height: 100%;
  /* width: 105px; */
}

/* --------------------------------------- error ------------------------------------------------------*/
.containerError {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* color: white; */
}
.titleNotFound {
  margin-top: -50px;
  color: var(--color-white);
}
.buttonBack {
  cursor: pointer;
  width: 150px;
  height: 50px;
  color: var(--color-white);
  font-weight: bolder;
  border-radius: 30px;
  border: none;
  background: linear-gradient(var(--color-dark-sky), var(--color-light-sky));
}
.title404 {
  font-weight: bold;
  font-size: 25rem;
  margin: 0;
  letter-spacing: 0px;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.error404 {
  width: 450px;
  height: 450px;
  margin-top: -20px;
}

/* --------------------------------------- CHAT INDIVIDUAL ------------------------------------------------------*/
#panel-chatIndividual {
  /* border: 2px solid white; */
  position: fixed;
  right: 0;
  width: 740px;
  height: 100vh;
  background-color: #0b1321;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nameSection {
  /* border: 2px solid white; */
  background-color: #152834;
  width: 738px;
  height: 130px;
  padding: 20px;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.chatTitle {
  display: flex;
  flex-direction: column;
}
.chatTitle > h2 {
  font-size: 3rem;
  margin-top: 6px;
  margin-bottom: 0;
}
.chatTitle > span {
  font-style: oblique;
  color: var(--color-white);
  margin: 0;
}
.imageChat {
  background-color: #217B84;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
/* .inputChat[type="text"] {
  width: 680px;
  height: 80px;
  margin: 20px;
} */
#send-message {
  background: transparent;
  border: none;
  position: absolute;
  /* right: 60px;
  bottom: 40px; */
  cursor: pointer;
}
#send-message > ion-icon{
  width: 31px;
  height: 34px;
  color: #7B8595;
}
#send-message > ion-icon:hover {
  color: var(--color-sky);
  /* filter: grayscale(100%); */
  /* filter: hue-rotate(180deg); */
}
/* #individual-chat{
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  width: 50%;
} */

/* global close */
.fa-xmark {
  cursor: pointer;
}
/* modalIndividual messages */


/* ----------------------------modal APIKEY---------------- */
.modalKey{
  background-color: var(--color-light-sky);
  border-radius: 30px;
  position: fixed;
  top:200px;
  left: 500px;
  width: 500px;
  height: 350px;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* overflow: hidden; */
}
.titleModal{
  text-align: center;
  font-size: 0.9rem;
  width: 450px;
  /* border: 2px solid white; */
  margin: 0;
}

.pokebolaKey{
  width: 50px;
  height: 50px;
  position: absolute;
  left: 60px;
  top: 134px;
  /* margin-right: -60px;
  margin-top: 5px; */
}

input[type="password"]{
  border: 2px solid white;
  background-color: transparent;
  border-radius: 20px;
  padding: 20px 20px 20px 70px;
  width: 400px;
  height: 60px;
  color: var(--color-gray);
}
input[type="password"]:focus {
  outline: none;
}

.buttonContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 450px;
}

.buttonContainer button{
  background-color: var(--color-sky);
  border-radius: 20px;
  border: none;
  width: 150px;
  height: 45px;
  cursor: pointer;
}

.generateApi{
  color: var(--color-sky);
  font-style: italic;
  font-size: 0.8rem;
  margin-top: -50px;
}
.imageKey{
  width: 50px;
  height: 50px;
  z-index: 4;
}
